apiVersion: authorino.kuadrant.io/v1beta3
kind: AuthConfig
metadata:
  name: envoy-nomic
spec:
  authentication:
    inference-service:
      apiKey:
        allNamespaces: false
        selector:
          matchLabels:
            group: maas
      credentials:
        authorizationHeader:
          prefix: APIKEY
      metrics: false
      priority: 0
  hosts:
    - nomic-route-maas.apps.rosa.hcmaii01ue1.a9ro.p3.openshiftapps.com
  response:
    unauthorized:
      message:
        selector: 'We were not able to match {auth.identity.email}'
