apiVersion: authorino.kuadrant.io/v1beta3
kind: AuthConfig
metadata:
  name: envoy-nomic
spec:
  authentication:
    maas:
      apiKey:
        allNamespaces: false
        selector:
          matchLabels:
            group: maas
      credentials:
        authorizationHeader:
          prefix: Bearer
      metrics: false
      priority: 0
    sso:
      credentials:
        authorizationHeader:
          prefix: APIKEY
      jwt:
        issuerUrl: 'https://sso.redhat.com/auth/realms/redhat-external'
      metrics: true
      priority: 10
  authorization:
    apikey:
      metrics: false
      patternMatching:
        patterns:
          - operator: eq
            selector: auth.identity.metadata.labels.group
            value: maas
      priority: 0
      when:
        - operator: eq
          selector: auth.identity.metadata.labels.group
          value: maas
  hosts:
    - nomic-route-maas.apps.rosa.hcmaii01ue1.a9ro.p3.openshiftapps.com
  response:
    unauthorized:
      message:
        selector: 'We were not able to match {auth.identity.email}'
